#btn{
	color: #ffffff;
	background-color: #38b7ce;
	border-color: #042441;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid ;
	white-space: nowrap;
	padd0ing: 6px 6px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 10px;
	vertical-align: middle;
	
}
.container{
	
	margin-top: 30px;
	
}

#card1{
    background-color: #c7c9cc;
}
#perfilGit{
    color: #ffffff;
    text-align: center;
    background-image: url("Img/FPERFIL.JPG");
  
}