body{
	margin:0 auto;
	font-family: "Helvetica Neue", "raleway";
  font-size: 14px;
 
	background-image: url("imagenes/fondoEquipos.jpg");
}
.container{
  color: rgb(182, 169, 169);
}
.navbar-header{

	height: 50px;
}

.navbar-brand{
	height: 100px;
	width: 100px;
}


  /*dfsfs*/
  /* Animation properties */
  /* Animation properties */
.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}
.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

/* General styles and layout */
body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  width: 100%;
}

#img2{
  height: 280px;
  width: 250px;
  display: block;
  margin: auto;
  
}
.star, .wars, .byline {
  position: absolute;
}

.star {
  top: -0.75em;
}

.wars {
  bottom: -0.5em;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
  background-color: rgb(70, 69, 68);
  color: rgb(238, 217, 95);
}

/*para videooo*/

video.fillWidth2
{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	  
}
/* Para tener un ancho máximo debemos de establecer el width del DIV.delimitador */
.delimitador{
width:560px;
margin:auto;
}
/* El contenedor con el padding-top crea el tamaño del vídeo */
.contenedor{
height:0px;
width:100%;
max-width:560px; /* Así establecemos el ancho máximo (si lo queremos) */
padding-top:56.25%; /* Relación: 16/9 = 56.25% */
position:relative;
}
/* El iframe se adapta al tamaño del contenedor */
.v1{
position: absolute;
height:100%;
width:100%;
top:0px;
left:0px;

}

.vModal{
  position: absolute;
  height: 800px;
  width: 100px;
  top:0px;
  left:0px;
  }


  #tamañoModal{
    height:100%;
  width:100%;
  }
  #tamañoModal2{
    height:100%;
  width:100%;
  }

  .peliO{
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    }
.modalPrincipal{
  height:900px;
    width:100%;
    top:0px;
    left:0px;

}

